<div class="testing-rules">
    <h3 class="testing-rules__heading">Правила тестування</h3>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image">
        </div>
        <div class="testing-rules__card-heading">Суть</div>
        <div class="testing-rules__card-text">Необхідно визначити найбільш итересні сфери навчання</div>
    </div>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image"></div>
        <div class="testing-rules__card-heading">Етапи</div>
        <div class="testing-rules__card-text">Тест проходить у декылька етапів : </div>
        <div class="testing-rules__card-text">1) Обираєте найбільш інтересні сфери навчання</div>
        <div class="testing-rules__card-text">2) Обирайте найбільш інтересні предмети</div>
    </div>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image"></div>
        <div class="testing-rules__card-heading">Підсумок</div>
        <div class="testing-rules__card-text">Після закінчення ви маєте нагоди отримати рейтинг найбільш підходящої спеціальності</div>
    </div>
    <p class="testing-rules__small-tip">Натисните кнопку для того, щоб розпочати тестування</p>
    <button class="testing-rules__start-test button" routerLink="/testing">Розпочати тестування</button>
  </div>
