<div style="width: 700px;">
    <div class="select-destiny">
        <div class="select-destiny__label">{{testItem.label}}</div>
        <div class="select-destiny_yes">
            <label class="custom-radio custom-radio--green">
                <input type="radio" name="destiny" hidden>
                <span class="custom-radio__checkmark">Интересует</span>
            </label>
        </div>
        <div class="select-destiny-no">
            <label class="custom-radio custom-radio--red">
                <input type="radio" name="destiny" hidden>
                <span class="custom-radio__checkmark">Не интересует</span>
            </label>
        </div>
        <div class="select-destiny-dontknow">
            <label class="custom-radio custom-radio--blue">
                <input type="radio" name="destiny" hidden>
                <span class="custom-radio__checkmark">Не знаю</span>
            </label>
        </div>
      </div>
</div>
