<div class="testing-rules">
    <h3 class="testing-rules__heading">Правила тестирования</h3>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image">
        </div>
        <div class="testing-rules__card-heading">Суть</div>
        <div class="testing-rules__card-text">Необходимо указать важные или не важ</div>
    </div>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image"></div>
        <div class="testing-rules__card-heading">Время</div>
        <div class="testing-rules__card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, repellendus.</div>
    </div>
    <div class="testing-rules__card">
        <div class="testing-rules__card-image"></div>
        <div class="testing-rules__card-heading">Исправления</div>
        <div class="testing-rules__card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga animi saepe excepturi ipsa? Consectetur, similique.</div>
    </div>
    <p class="testing-rules__small-tip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eligendi!</p>
    <button class="testing-rules__start-test button" routerLink="/testing">Начать тест</button>
  </div>
